* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.inview {
  display: block;
}

.not-inview {
  display: none;
}

#container {
  display: flex;
  flex-direction: column;
}

:root {
  --primaryfill: #1C9FCA;
  --secondaryfill: #233F52;
  --main-green: #58F099;
  --lightgray: #C4C4C4;
  --mid-gray: #A4A3A3;
  --color-primaryfill: #58F099;
  --color-secondaryfill: #337DFF;
  --color-cyan: #12d8df;
  --color-lightgreen: #59C98D;
  --color-purple: #6F41F6;
  --color-body: #1d1d24;
  --color-white: #ffffff;
  --color-black: #000;
  --color-gray: #757575;
  --gray-white: #FAFAFB;
  --inner-content-padding-sm: 3vh 3vw;
  --inner-content-padding-md: 3vh 6vw;
  --color-opacity-1: hsla(0,0%,100%,.2);
  --font-size-b1: 4.6vh;
  --font-size-b2: 3.2vh;
  --font-size-b3: 2.2vh;
  --font-size-b4: 1.8vh;
  --img-border-radius: 12px;
  --font-size-md-b1: 7vh;
  --font-size-lg-b1: 9vh;
  --font-size-lg-b2: 8vh;
  --font-size-lg-b3: 6vh;
  --font-size-lg-b4: 4vh;
  --font-size-lg-b5: 3vh;
  --font-size-lg-b6: 2.8vh;
}

/* container 450px*/
/* container 300px*/
.primary {
  color: var(--color-primaryfill);
}

.blue {
  color: var(--color-secondaryfill) !important;
  fill: var(--color-secondaryfill) !important;
}

.lightblue {
  color: var(--color-cyan) !important;
}

.lightgreen {
  color: var(--color-lightgreen) !important;
}

.purple {
  color: var(--color-purple) !important;
}

.theme-gradient {
  background: var(--color-primaryfill);
  background: linear-gradient(120deg, var(--color-secondaryfill) 20.69%, var(--primaryfill) 50.19%, var(--main-green) 79.69%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.btn-transparent {
  position: relative;
  border: none;
  font-weight: bold;
  padding-bottom: 1vh;
  width: 50%;
  color: transparent;
}
.btn-transparent::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 40%;
  height: 2px;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--color-primaryfill) 79.69%);
}

section {
  padding: 0 3vw;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  section {
    padding: 0 6vw;
  }
}
section h2 {
  font-size: var(--font-size-b1);
  text-transform: capitalize;
}
@media only screen and (min-width: 992px) {
  section h2 {
    font-size: var(--font-size-lg-b2);
  }
}
section h4 {
  text-transform: capitalize;
}

.icon-circle {
  background: var(--main-green);
  border-radius: 50%;
  padding: 3.2vw;
  height: 6vh;
  width: 6vh;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .icon-circle {
    padding: 2vw;
  }
}
@media only screen and (min-width: 992px) {
  .icon-circle {
    padding: 1.25vw;
    width: 8vh;
    height: 8vh;
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-perspective: 1000;
    transform: translate3d(100%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation: slideInRight 1s forwards;
  animation: slideInRight 1s forwards;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.slideOutRight {
  -webkit-animation: slideOutRight 0.75s ease-out forwards;
  animation: slideOutRight 0.75s ease-out forwards;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--inner-content-padding-sm);
  padding-top: 3vh;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-container {
    padding: 1vh;
  }
}
@media only screen and (min-width: 992px) {
  .header-container {
    display: grid;
    grid-template-columns: 20vw 65vw 15vw;
    grid-template-rows: 1fr;
    flex-wrap: none;
    padding: 0.25%;
  }
}
.header-container img {
  width: 35%;
  margin-right: 15%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-container img {
    width: 20%;
    margin-right: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .header-container img {
    width: 60%;
    margin-right: 0;
    margin: 0 auto;
  }
}
.header-container button {
  width: 30%;
  margin-right: 5%;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-container button {
    width: 20%;
    margin-right: 0%;
    font-size: var(--font-size-b4);
  }
}
@media only screen and (min-width: 992px) {
  .header-container button {
    color: #000;
  }
}
.header-container #hbuy-now-btn {
  background-color: var(--main-green);
  border: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-container #hbuy-now-btn {
    color: #000;
    background: var(--main-green);
  }
}
@media only screen and (min-width: 992px) {
  .header-container #hbuy-now-btn {
    grid-column: 3/end;
    width: 80%;
    margin: 0 auto;
    padding: 1.5vw;
    border-radius: 25px;
    background: var(--color-primaryfill);
    border: none;
  }
}

#header-menu-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10%;
  border: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header-menu-btn {
    width: 8%;
    margin-left: 5%;
  }
}
@media only screen and (min-width: 992px) {
  #header-menu-btn {
    display: none;
  }
}

#header-menu-closebtn {
  width: 15%;
  margin-left: 80%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header-menu-closebtn {
    width: 15%;
  }
}

.main-menunav {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  transition-property: translateX;
  transform: translateX(100%);
  width: 80vw;
  height: 100vh;
  padding: var(--inner-content-padding-sm);
  padding-top: 5vh;
  background: var(--color-white);
}
.main-menunav button {
  margin-left: 85%;
}
@media only screen and (min-width: 992px) {
  .main-menunav button {
    display: none;
  }
}
.main-menunav #mainmenu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
.main-menunav #mainmenu li > a {
  display: block;
  position: relative;
  font-size: var(--font-size-b3);
  text-decoration: none;
  color: var(--color-black);
  width: 100%;
}
.main-menunav #mainmenu li > a:hover {
  transition: all 0.25s ease-in;
  color: var(--main-green);
}
.main-menunav #mainmenu li.has-dropdown > a::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 7px 0 7px;
  border-color: #1f1f25 transparent transparent transparent;
  position: absolute;
  content: "";
  right: 0;
  top: 1vh;
  transform: translateY(-50%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  background: transparent;
}
.main-menunav #mainmenu li.has-dropdown > a.open::after {
  transform: rotate(-180deg);
  border-color: var(--color-primaryfill) transparent transparent transparent;
}
@media only screen and (min-width: 992px) {
  .main-menunav #mainmenu li.has-dropdown > a::after {
    display: none;
  }
}
.main-menunav #mainmenu .submenu {
  height: 0;
  transition: 0.3s;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  box-shadow: inherit;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  .main-menunav #mainmenu .submenu {
    display: none;
  }
}
.main-menunav #mainmenu .active {
  height: 100%;
  padding: 3vw 5vw;
  opacity: 1;
  visibility: visible;
  line-height: 3vh;
}
@media only screen and (min-width: 992px) {
  .main-menunav #mainmenu {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 100%;
    padding: 2vw;
  }
  .main-menunav #mainmenu li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .main-menunav #mainmenu li > a {
    text-align: center;
    font-weight: 500;
    color: var(--color-white);
    font-size: var(--font-size-b2);
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-menunav {
    width: 60vw;
  }
}
@media only screen and (min-width: 992px) {
  .main-menunav {
    position: relative;
    transform: none;
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    background: none;
  }
}

.cid-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3vh;
  padding: 3vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.cid-container div {
  height: 6vh;
  color: var(--color-primaryfill);
}
.cid-container h3 {
  color: #fff;
  text-transform: capitalize;
  font-size: var(--font-size-b2);
}
.cid-container p {
  color: var(--color-gray);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cid-container p {
    font-size: var(--font-size-b3);
  }
}

.left-align {
  text-align: left;
  background: var(--color-white);
  border-radius: 8px;
  padding: 6vh 6vw;
}
.left-align div {
  height: initial;
  width: 30%;
  left: 0;
}
.left-align h3 {
  color: var(--color-black);
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .left-align {
    padding: 2vh 4vw;
    gap: 1vh;
  }
  .left-align div {
    width: 20%;
  }
  .left-align h3 {
    font-size: var(--font-size-b4);
  }
  .left-align p {
    font-size: var(--font-size-b4) !important;
  }
}
@media only screen and (min-width: 992px) {
  .left-align {
    margin: 1vw;
    height: 90%;
  }
  .left-align p {
    font-size: var(--font-size-b2);
  }
  .left-align:hover {
    transform: translateY(-2vh);
    transition: all 0.2s ease-in;
  }
}

.cid-lgt {
  border-radius: 8px;
  padding: 6vh 6vw;
  background: var(--color-white);
}
.cid-lgt h3 {
  font-size: 6vh;
  color: #000;
}
.cid-lgt p {
  text-transform: capitalize;
}

.img-background-desc-container {
  height: 70vh;
  position: relative;
  border-radius: 15px;
  color: var(--color-white);
  overflow: hidden;
}
.img-background-desc-container img {
  width: 100%;
  height: 70vh;
  border-radius: 15px;
}
.img-background-desc-container div {
  position: absolute;
  top: 0;
  height: 70vh;
  width: 100%;
  padding-top: 55vh;
  padding-left: 5%;
  text-align: left;
  border-radius: 15px;
  transition: all 0.25s ease-in;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6509803922));
}
.img-background-desc-container div h4 {
  padding-bottom: 3vh;
  text-transform: capitalize;
}
.img-background-desc-container div h3 {
  padding-bottom: 3vh;
  font-size: var(--font-size-b2);
  text-transform: capitalize;
}
.img-background-desc-container div p {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img-background-desc-container {
    height: 45vh;
  }
  .img-background-desc-container img {
    height: 45vh;
  }
  .img-background-desc-container div {
    padding-top: 33vh;
    height: 45vh;
  }
}

.img-background-desc-container:hover img {
  transform: scale(1.2);
  border-radius: 15px;
}
.img-background-desc-container:hover div {
  padding-top: 46vh;
  color: var(--color-black);
  background: linear-gradient(to bottom, transparent, var(--main-green));
}
.img-background-desc-container:hover div p {
  display: block;
  border-radius: 0 0 15px 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .img-background-desc-container:hover div {
    padding-top: 26vh;
  }
}
@media only screen and (min-width: 992px) {
  .img-background-desc-container:hover div {
    padding-top: 40vh;
  }
}

.why-card h3 {
  color: var(--primaryfill);
}
.why-card p {
  color: #000;
}

#hintro-section {
  padding-bottom: 8vh;
  background: url("./assets/images/compressed/backgrounds/heroBackground.webp");
  background-position: 70% 50%;
  background-size: cover;
}
#hintro-section h1 {
  text-align: center;
  font-size: var(--font-size-b1);
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 8vh;
  margin-bottom: 10vh;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hintro-section h1 {
    font-size: var(--font-size-md-b1);
  }
}
@media only screen and (min-width: 992px) {
  #hintro-section h1 {
    font-size: 16vh;
    padding-top: 6vh;
    margin-bottom: 6vh;
  }
}
#hintro-section > p {
  padding: 0 5vw;
  color: var(--gray-white);
  text-align: center;
}
#hintro-section ul {
  list-style: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hintro-section ul li {
    width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 992px) {
  #hintro-section ul {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (min-width: 992px) {
  #hintro-section {
    padding-bottom: 18vh;
  }
}

#habout-section {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding-top: 8vh;
  padding-bottom: 8vh;
  background: var(--color-white);
}
#habout-section h2 {
  color: var(--primaryfill);
}
#habout-section img {
  border-radius: var(--img-border-radius);
}
@media only screen and (min-width: 992px) {
  #habout-section img {
    height: 60vh;
    margin-top: 10vh;
    width: 50vw;
  }
}
@media only screen and (min-width: 992px) {
  #habout-section {
    display: flex;
    flex-direction: row;
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
}
#habout-section #ha-content {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
#habout-section p {
  color: #41474a;
  line-height: 3.2vh;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #habout-section p {
    font-size: var(--font-size-b3);
  }
}
@media only screen and (min-width: 992px) {
  #habout-section p {
    font-size: var(--font-size-b2);
    line-height: var(--font-size-b1);
  }
}
#habout-section a {
  text-align: left;
  font-size: var(--font-size-b4);
  text-transform: uppercase;
  display: block;
}
@media only screen and (min-width: 992px) {
  #habout-section a {
    margin-top: 6vh;
    font-size: var(--font-size-b2);
  }
}

#hservices-section {
  padding-top: 8vh;
  padding-bottom: 8vh;
  background: var(--gray-white);
  display: flex;
  flex-direction: column;
  gap: 4vh;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #hservices-section h4 {
    font-size: var(--font-size-lg-b5);
  }
}
#hservices-section > p {
  color: var(--color-gray);
  line-height: 3.2vh;
}
@media only screen and (min-width: 992px) {
  #hservices-section > p {
    padding: 0 16vw;
    padding-bottom: 8vh;
    font-size: var(--font-size-lg-b4);
    line-height: var(--font-size-lg-b3);
    font-weight: 300;
  }
}
#hservices-section ul {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  #hservices-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    row-gap: 1vw;
    height: 120vh;
  }
  #hservices-section ul li {
    width: 32.2580645161%;
    height: 50%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hservices-section > p {
    padding: 0 5vw;
    font-size: var(--font-size-b3);
  }
  #hservices-section ul {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
  }
  #hservices-section ul li {
    width: 48%;
    margin-bottom: 1vw;
  }
}

#hproject-section {
  background: var(--color-white);
  padding-top: 8vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #hproject-section h4 {
    font-size: var(--font-size-lg-b5);
  }
}
#hproject-section > p {
  color: var(--color-gray);
  line-height: 3.2vh;
  padding-bottom: 4vh;
}
@media only screen and (min-width: 992px) {
  #hproject-section > p {
    padding: 0 16vw;
    padding-bottom: 8vh;
    font-size: var(--font-size-lg-b4);
    line-height: var(--font-size-lg-b3);
    font-weight: 300;
  }
}
#hproject-section ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  #hproject-section ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 8vh 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hproject-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #hproject-section ul li {
    width: 47%;
  }
}

#hgrowth-section {
  background: var(--gray-white);
  padding-top: 8vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #hgrowth-section h4 {
    font-size: var(--font-size-lg-b5);
  }
}
#hgrowth-section > p {
  color: var(--color-gray);
  line-height: 3.2vh;
}
@media only screen and (min-width: 992px) {
  #hgrowth-section > p {
    padding: 0 16vw;
    padding-bottom: 8vh;
    font-size: var(--font-size-lg-b4);
    line-height: var(--font-size-lg-b3);
    font-weight: 300;
  }
}
#hgrowth-section ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  list-style: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hgrowth-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    align-items: center;
    justify-content: center;
  }
  #hgrowth-section ul li {
    width: 30.303030303%;
  }
}
@media only screen and (min-width: 992px) {
  #hgrowth-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    align-items: center;
    justify-content: center;
    padding: 8vh 0;
  }
  #hgrowth-section ul li {
    width: 30.303030303%;
  }
}

#hstaff-section {
  background: var(--color-white);
  padding-top: 8vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}
@media only screen and (min-width: 992px) {
  #hstaff-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    padding-top: 12vh;
    padding-bottom: 12vh;
  }
  #hstaff-section div {
    width: 50%;
    padding-top: 10%;
  }
}
#hstaff-section h2 {
  font-weight: 400;
  line-height: 5vh;
  font-size: var(--font-size-b2);
  padding-bottom: 3vh;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hstaff-section h2 {
    font-weight: 500;
  }
}
@media only screen and (min-width: 992px) {
  #hstaff-section h2 {
    width: 100%;
    height: 60%;
    line-height: 8vh;
    font-size: var(--font-size-b1);
  }
}
#hstaff-section p {
  text-transform: uppercase;
}
@media only screen and (min-width: 992px) {
  #hstaff-section p {
    width: 100%;
    height: 10%;
  }
}
#hstaff-section ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  #hstaff-section ul {
    width: 40%;
    margin-left: 10%;
  }
}
#hstaff-section ul li {
  width: 50%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#hstaff-section ul li img {
  width: 98%;
  height: 98%;
  border-radius: 6px;
}
@media only screen and (min-width: 992px) {
  #hstaff-section ul li {
    width: 40%;
    margin-left: 6%;
  }
}

#hlastest-news-section {
  background: var(--gray-white);
  padding-top: 8vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #hlastest-news-section h4 {
    font-size: var(--font-size-lg-b5);
  }
}
#hlastest-news-section > p {
  color: var(--color-gray);
  line-height: 3.2vh;
}
#hlastest-news-section ul {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  #hlastest-news-section ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    padding: 8vh 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #hlastest-news-section ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
  }
  #hlastest-news-section ul li {
    width: 46%;
  }
  #hlastest-news-section ul li h4 {
    padding-bottom: 1vh;
  }
  #hlastest-news-section ul li h3 {
    padding-bottom: 2vh;
    font-size: var(--font-size-b3);
  }
}

#htop-clients-section {
  background: var(--color-white);
  padding-top: 8vh;
  padding-bottom: 8vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #htop-clients-section h4 {
    font-size: var(--font-size-lg-b5);
  }
}
#htop-clients-section ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
@media only screen and (min-width: 992px) {
  #htop-clients-section ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
#htop-clients-section ul li {
  width: 33.3333333333%;
  padding: 5vw;
  filter: grayscale(0.9);
}
#htop-clients-section ul li:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  transition: all 0.25s ease-in;
}
#htop-clients-section ul li img {
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 992px) {
  #htop-clients-section ul li {
    width: 20%;
    padding: 2vw;
  }
}

/********** CONTACT INTRO SECTION **********/
#cintro-section {
  background: gray;
  background-image: url("./assets/images/compressed/backgrounds/contactBackground.webp");
  background-position: 70% 50%;
  background-size: cover;
  color: #fff;
  padding-top: 6vh;
}
#cintro-section h1 {
  text-align: center;
  font-size: var(--font-size-b1);
}
@media only screen and (min-width: 992px) {
  #cintro-section h1 {
    width: 100%;
    font-size: var(--font-size-lg-b1);
  }
}
#cintro-section p {
  padding-top: 4vh;
  padding-bottom: 12vh;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
@media only screen and (min-width: 992px) {
  #cintro-section p {
    font-size: var(--font-size-lg-b4);
  }
}
@media only screen and (min-width: 992px) {
  #cintro-section {
    padding-top: 30vh;
    padding-bottom: 30vh;
  }
}

#cinfo-list .left-align {
  padding: 4vh 8vw;
}
@media only screen and (min-width: 992px) {
  #cinfo-list .left-align {
    height: 100%;
    padding: 6vh 4vw;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  #cinfo-list li {
    height: 100% !important;
    background-color: var(--gray-white) !important;
  }
  #cinfo-list li:nth-child(2) {
    margin: 0 1.5vw;
  }
}
#cinfo-list .sm-icon {
  width: 10vw;
  height: 6vh;
}
@media only screen and (min-width: 992px) {
  #cinfo-list .sm-icon {
    width: 6vw;
  }
}
#cinfo-list h3 {
  font-size: var(--font-size-b3);
}
@media only screen and (min-width: 992px) {
  #cinfo-list h3 {
    font-size: var(--font-size-lg-b4);
  }
}
#cinfo-list p {
  font-size: var(--font-size-b4);
}
@media only screen and (min-width: 992px) {
  #cinfo-list p {
    font-size: var(--font-size-lg-b5);
  }
}
@media only screen and (min-width: 992px) {
  #cinfo-list {
    height: 40vh !important;
    padding: 0 !important;
    gap: 0vw !important;
  }
}

#cform-section {
  padding-top: 8vh;
  padding-bottom: 8vh;
  background-color: var(--gray-white);
}
#cform-section img {
  background-color: var(--color-white);
  padding: 6%;
  display: block;
  margin: 0 auto;
  height: 30vh;
  width: 80vw;
}
@media only screen and (min-width: 992px) {
  #cform-section img {
    position: relative;
    margin: initial;
    padding: 0%;
    top: 5%;
    left: 0%;
    width: 70%;
    height: 30%;
    background-color: transparent;
  }
}
#cform-section > div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 4vh;
}
#cform-section > div ul {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  list-style: none;
}
#cform-section > div ul li {
  display: grid;
  grid-template-columns: 30% 70%;
}
#cform-section > div ul li p:nth-child(2) {
  display: block;
  position: relative;
}
#cform-section > div ul li p:nth-child(2)::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  transition: all 0.5s ease-out;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--color-primaryfill) 79.69%);
}
#cform-section > div ul li p:nth-child(2):hover {
  color: var(--color-primaryfill);
}
#cform-section > div ul li p:nth-child(2):hover::after {
  width: 30%;
}
#cform-section > div form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  padding-top: 4vh;
  padding-bottom: 8vh;
}
#cform-section > div form input, #cform-section > div form textarea {
  padding-left: 2vw;
  width: 90vw;
  border: 2px solid var(--lightgray);
  border-radius: 4px;
}
#cform-section > div form input::-moz-placeholder, #cform-section > div form textarea::-moz-placeholder {
  padding-left: 2vw;
  color: var(--lightgray);
}
#cform-section > div form input:-ms-input-placeholder, #cform-section > div form textarea:-ms-input-placeholder {
  padding-left: 2vw;
  color: var(--lightgray);
}
#cform-section > div form input::placeholder, #cform-section > div form textarea::placeholder {
  padding-left: 2vw;
  color: var(--lightgray);
}
@media only screen and (min-width: 992px) {
  #cform-section > div form input::-moz-placeholder, #cform-section > div form textarea::-moz-placeholder {
    padding-left: 1vw;
  }
  #cform-section > div form input:-ms-input-placeholder, #cform-section > div form textarea:-ms-input-placeholder {
    padding-left: 1vw;
  }
  #cform-section > div form input::placeholder, #cform-section > div form textarea::placeholder {
    padding-left: 1vw;
  }
}
@media only screen and (min-width: 992px) {
  #cform-section > div form input, #cform-section > div form textarea {
    width: 75%;
    border: 1px solid var(--lightgray);
  }
}
#cform-section > div form textarea {
  padding-top: 1vh;
}
#cform-section > div form input[type=text], #cform-section > div form input[type=email] {
  height: 5vh;
}
@media only screen and (min-width: 992px) {
  #cform-section > div form input[type=text], #cform-section > div form input[type=email] {
    height: 7vh;
  }
}
#cform-section > div form input[type=submit] {
  width: 50vw;
  border-radius: 500px;
  padding: 5% 0%;
  border: none;
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--gray-white);
}
@media only screen and (min-width: 992px) {
  #cform-section > div form input[type=submit] {
    width: 20%;
    padding: 1.5% 0;
    font-size: var(--font-size-b3);
  }
}
@media only screen and (min-width: 992px) {
  #cform-section > div form {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #cform-section {
    display: grid;
    position: relative;
    grid-template-columns: 30vw 70vw;
  }
}

.validation-error {
  width: 90vw;
  padding: 2%;
  color: #D8000C;
  background-color: #FFBABA;
  border: 2px solid rgba(216, 0, 11, 0.2745098039);
}
@media only screen and (min-width: 992px) {
  .validation-error {
    width: 75%;
    padding: 1%;
  }
}

#container #totop-btn {
  position: fixed;
  z-index: 998;
  bottom: 5vh;
  right: 10vw;
  color: #fff;
  padding: 1%;
  background: rgba(0, 0, 0, 0.301);
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #container #totop-btn {
    width: 5vw;
    height: 5vw;
    right: 5vw;
  }
}
@media only screen and (min-width: 992px) {
  #container #totop-btn {
    width: 3vw;
    height: 3vw;
    right: 5vw;
    padding: 0.5%;
  }
}

footer {
  background: var(--color-black);
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding: 8vh 3vw;
}
footer h2 {
  text-transform: capitalize;
  font-weight: 800;
  padding-bottom: 5vh;
}
@media only screen and (min-width: 992px) {
  footer h2 {
    font-size: var(--font-size-lg-b2);
  }
}
@media only screen and (min-width: 1400px) {
  footer h2 {
    font-size: var(--font-size-lg-b3);
  }
}
footer button {
  padding: 5vw;
  width: 52vw;
  border: none;
  border-radius: 25px;
  border: 2px solid var(--color-gray);
  text-transform: uppercase;
  margin-bottom: 6vh;
  color: #fff;
  background: transparent;
  font-weight: bold;
  font-size: var(--font-size-b4);
}
footer img {
  height: 8vh;
  width: 38vw;
}
footer p {
  color: var(--color-gray);
  font-size: var(--font-size-b3);
  padding-top: 5vh;
}
footer ul {
  list-style: none;
}
footer ul h4 {
  text-transform: capitalize;
  padding: 2vh 0;
  font-size: var(--font-size-b2);
}
footer ul li {
  color: var(--color-gray);
  text-transform: capitalize;
  text-decoration: none;
  line-height: 5vh;
  padding-left: 5vw;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer ul li {
    line-height: 4vh;
  }
}
footer ul li a {
  display: block;
  position: relative;
  width: 100%;
  color: var(--color-gray);
  text-transform: capitalize;
  text-decoration: none;
}
footer ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  transition: all 0.5s ease-out;
  background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, var(--color-primaryfill) 79.69%);
}
footer ul li a:hover {
  color: var(--color-primaryfill);
}
footer ul li a:hover::after {
  width: 30%;
}
footer #icons-list {
  display: flex;
  flex-direction: row;
  gap: 6vw;
  width: 40vw;
  height: 5vh;
}
footer #icons-list li {
  width: 25%;
  height: 100%;
  padding: 0.25vw;
}
footer #icons-list li:hover {
  color: #fff;
  transform: scale(1.05) translateY(-5px);
  transition: all 0.25s ease-in;
}
@media only screen and (min-width: 1400px) {
  footer #icons-list {
    height: 3vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 15vh 35vh 35vh 10vh;
    gap: 0;
  }
  footer ul h4 {
    font-size: var(--font-size-b3);
  }
  footer ul li {
    padding-left: 0;
  }
  footer #footer-upper {
    grid-column: 1/3;
    grid-row: 1/2;
    border-bottom: 1px solid gray;
    padding-bottom: 2vh;
  }
  footer #footer-upper button {
    padding: 2vw;
    margin-top: 2vh;
    width: 30vw;
    margin-bottom: 0;
  }
  footer #footer-lcw {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 5vh;
  }
  footer #footer-lcw img {
    width: 20vw;
  }
  footer #footer-lcw p {
    padding-top: 10vh;
    padding-right: 10vw;
    font-size: var(--font-size-b4);
    line-height: 3vh;
  }
  footer #fquick-link {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-top: 5vh;
  }
  footer #fcompany-links {
    padding-top: 3vh;
  }
  footer #fcontact-info {
    padding-top: 3vh;
  }
  footer #icons-list {
    grid-column: 2/3;
    height: 3vh;
  }
}
@media only screen and (min-width: 992px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer ul {
    width: 23.2558139535%;
  }
  footer ul li {
    padding-left: 0;
  }
  footer #footer-upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding-bottom: 8vh;
    border-bottom: 1px solid gray;
  }
  footer #footer-upper button {
    padding: 1vw;
    width: 35%;
    height: 40%;
    font-size: var(--font-size-b3);
    border-radius: 50px;
    margin-top: 3vh;
  }
  footer #footer-upper button:hover {
    background: var(--color-primaryfill);
    border: none;
  }
  footer #footer-lcw {
    width: 23.2558139535%;
  }
  footer #footer-lcw img {
    width: 80%;
  }
  footer #footer-lcw p {
    padding-top: 20%;
  }
}
@media only screen and (min-width: 1400px) {
  footer {
    padding: 8vh 8vw 6vh 8vw;
  }
  footer ul {
    width: 20%;
  }
  footer ul li {
    padding-left: 0;
  }
}

.btn-default {
  border-radius: 20px;
  background: transparent;
  border: 2px solid var(--color-opacity-1);
  padding: 2vw;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
}

.icon-btn {
  padding: 2vw;
}

.lightgreen-btn {
  background-color: var(--main-green);
  color: var(--color-white);
  width: 50vw;
}/*# sourceMappingURL=index.css.map */