#intro-section {
  height: 115vh;
  background: url("../../../assets/images/backgrounds/mini-icons-green-bground.webp");
  background-size: cover;
  background-position: 0% 0%;
  -webkit-animation: bground-move 40s ease-in-out infinite alternate;
          animation: bground-move 40s ease-in-out infinite alternate;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3vh;
}

@-webkit-keyframes bground-move {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

@keyframes bground-move {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

#intro-text {
  background: rgba(255, 255, 255, 0.843);
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vh;
  border-radius: 15px;
  padding: 12% 8% 25% 8%;
}

#intro-text h1 {
  font-size: var(--lg-title-text);
  text-shadow: none;
}

#intro-text h4 {
  color: var(--third-color);
  text-transform: capitalize;
}

#intro-text h5 {
  color: var(--font-color-gray);
}

#intro-text h5 span {
  text-transform: capitalize;
}

#intro-svg {
  height: 35vh;
  padding: 3vw;
}

#reaction-section {
  position: relative;
  padding: 10vh 0;
  height: 120vh;
  overflow: hidden;
  opacity: 0;
}

#rs-text {
  width: 80%;
  margin-left: 20%;
  margin-bottom: 15%;
  padding: 2vw;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2vh;
  text-transform: capitalize;
}

.reaction-color {
  color: #fff;
}

.rs-medal-wrp {
  position: relative;
  z-index: 2;
  background: #000;
  background: url("../../images/backgrounds/gray-mini-icons-bground.webp");
  background-size: cover;
  background-position: center;
  width: 70%;
  margin: 0 auto;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}

.rs-medal-wrp * {
  position: relative;
  padding: 3vw;
}

.rs-medal-wrp h5 {
  position: relative;
  z-index: 3;
  font-size: 3vh;
}

.rs-medal-wrp ul {
  position: relative;
  z-index: 3;
  list-style: none;
  font-size: 2.5vh;
}

#rs-filter {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

#rs-medal-svg {
  position: relative;
  z-index: 3;
  margin: 0 auto;
  width: 80%;
}

#rs-laptop-svg {
  position: absolute;
  z-index: 1;
  top: 20%;
  left: -120%;
  height: 80%;
  width: 230%;
}

.slide-right {
  -webkit-animation: slide-right 1.5s ease-in 1 forwards;
          animation: slide-right 1.5s ease-in 1 forwards;
  -webkit-transition: all 1.5s ease-in;
  transition: all 1.5s ease-in;
}

@-webkit-keyframes slide-right {
  from {
    left: -200%;
  }
  to {
    left: -120%;
  }
}

@keyframes slide-right {
  from {
    left: -200%;
  }
  to {
    left: -120%;
  }
}

#rs-btn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  width: 40%;
  margin: 5vh 30%;
  padding: 3vw;
  color: var(--bg-color);
  background: #fff;
  border: none;
  border-radius: 15px;
}

#tech-we-use-section {
  text-align: center;
  color: #fff;
  background: url("../../images/backgrounds/test.png");
  background-size: cover;
  background-position: 30% 100%;
}

#tech-we-use-section h3 {
  opacity: 0;
  text-transform: capitalize;
  padding: 5vh 0 0vh 0;
  background: rgba(0, 0, 0, 0.583);
  font-size: var(--md-title-text);
}

#tech-icons {
  background: rgba(0, 0, 0, 0.583);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5vw;
}

.tech-icons-nonvisible {
  opacity: 0;
}

.tech-icon-title {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  padding: 8vw;
}

.tech-icon-title p {
  padding-left: 2vw;
}

.appear {
  -webkit-animation: appear 1s ease-in 1 forwards;
          animation: appear 1s ease-in 1 forwards;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#portfolio-section h4 {
  color: var(--third-color);
}

#portfolio-section h2 {
  text-transform: capitalize;
  color: var(--bg-color);
}

#portfolio-section p {
  color: var(--font-color-gray);
}

#portfolio-section button {
  margin-top: 3vh;
}

#portfolio-section a {
  display: block;
  width: 100%;
  padding: 3vw;
}

#portfolio-text {
  height: 50vh;
  padding: 6vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4vh;
}

#portofolio-option-title {
  padding: 2vh 0;
}

.portfolio-option {
  height: 30vh;
  width: 100%;
}

#how-it-works {
  background: url("../../images/backgrounds/blue-tri.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 8vh;
}

#how-it-works h2 {
  color: var(--bg-color);
  text-transform: capitalize;
  padding: 4vh 0;
  background: #fff;
  padding-left: 5vw;
}

#how-it-works > p {
  color: var(--third-color);
  text-transform: capitalize;
  padding-left: 5vw;
  background: #fff;
  padding-bottom: 4vh;
  margin-bottom: 5vh;
}

.step-card-container {
  width: 90%;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5vh 5vw;
  color: var(--bg-color);
  background: #fff;
  border-radius: 0 0 12px 12px;
}

.step-card-container h3 {
  width: 50%;
  font-size: var(--md-title-text);
  line-height: 6vh;
  text-transform: capitalize;
  color: var(--bg-color);
  overflow-wrap: break-word;
}

.step-card-container div {
  width: 50%;
  padding: 0 8vw;
}

.step-card-container p {
  padding: 5vh 0;
  color: var(--bg-color);
}

.scrolled {
  -webkit-animation: itDoGoDown 1s 1 forwards;
          animation: itDoGoDown 1s 1 forwards;
  -webkit-transition: all 3s ease-in;
  transition: all 3s ease-in;
}

@-webkit-keyframes itDoGoDown {
  from {
    top: -10%;
  }
  to {
  }
}

@keyframes itDoGoDown {
  from {
    top: -10%;
  }
  to {
  }
}
/*# sourceMappingURL=home.css.map */