@media screen and (orientation: landscape) {
    #intro-section{
        height: 100vh;
        display: flex;
        flex-direction: row;
    }
    #intro-svg{
        position: relative;
        top: 25%;
        margin: 0 auto;
        height: 50%;
    }
    #intro-text{
        padding-right: 10%;
        padding-top: 5%;
        button{
            margin-top: 5vh;
        }
        h1, h4, h5{
            width: 80%;
        }
    }
    #intro-svg{
        width: 40%;
        top: 20%;
        right: 10%;
    }
    // tech we use section
    #tech-we-use-section{
        background-position: 50% 30%;
        // padding: 3vw;
        h3{
            padding: 5vh 0 5vh 0;
        }
    }
    #tech-icons{
        height: 20vh;
        padding: 1vw;
    }
    .tech-icon-title{
        width: calc(100%/5);
        height: 100%;
        padding: initial;
        p{
            padding-left: 0vw;
            padding-top: 2vh;
        }
    }
    // portfolio section
    #portfolio-section{
        // height: 100vh;
        width: 100vw;
        padding: 5vw;
        // background: yellow;
        display: grid;
        grid-template-columns: repeat(3, calc(100%/3));
        grid-template-rows: 50% 50%;
        a{
            text-decoration: none;
        }
        a:hover{
            background: var(--neon-green);            
        }
    }
    #portfolio-text{
        height: 50vh;
        padding: 6vh 5vw;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        grid-column: 2/ end;
    }
    #portfolio-option-title{
        padding: 2vh 0;
    }
    #port-opt-one{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }  
    .portfolio-option{
        height: 30vh;
        width: 100%;
    }
    // how it works
    #how-it-works{
        // padding: 8vh 3vw;
        // background: url('../../images/backgrounds/blue-tri.webp');
        // background-size: cover;
        // background-position: center;
        // background-repeat: no-repeat;
        // padding-bottom: 8vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        h2{
            width: 100%;
            // color: #EBF875;
            color: var(--bg-color);
            text-transform: capitalize;
            padding: 4vh 0;
            background: #fff;
            padding-left: 5vw;
        }
        >p{
            width: 100%;
            color: var(--third-color);
            text-transform: capitalize;
            padding-left: 5vw;
            // color: #FE6B35;
            background: #fff;
            padding-bottom: 4vh;
            margin-bottom: 5vh;
        }

    }
    .step-card-container{
        width: calc(100%/3.5);
        margin: 5vh auto;
        padding: 5vh 3vw;
        border-radius: 12px;
        h3{
            font-size:5vh;
        }
        div{
            padding: 0;
        }
        p{
            font-size: 2vh;
        }
        button{
            width: 70%;
            margin: 0 auto;
        }
    }
}