.btn-default{
    border-radius: 20px;
    background: transparent;
    border: 2px solid var(--color-opacity-1);
    padding: 2vw;
    color: var(--color-white);
    text-transform: uppercase;
    font-weight: bold;
}
.icon-btn{
    padding: 2vw;
}
.lightgreen-btn{
    background-color: var(--main-green);
    color: var(--color-white);
    width: 50vw;
}